<% layout("/layouts/boilerplate")%>
<div class="row">
    <div class="alert alert-danger offset-2" role="alert">
       
        <h4 class="alert-heading"><%=message%></h4>
        <p></p>
      </div>
</div>